<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.mapping.StockExportMapper">
<resultMap id="BaseResultMap" type="com.manager.entity.StockExport" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PRODUCTNUMBER" property="productNumber" jdbcType="VARCHAR" />
    <result column="PRODUCTNAME" property="productName" jdbcType="VARCHAR" />
    <result column="COST" property="cost" jdbcType="FLOAT" />
    <result column="RETAIL" property="retail" jdbcType="FLOAT" />
    <result column="CATEGORY" property="category" jdbcType="VARCHAR" />
    <result column="PRIVIDER" property="privider" jdbcType="VARCHAR" />
    <result column="STOCKAMOUNT" property="stockAmount" jdbcType="VARCHAR" />
  </resultMap>
<sql id="Base_Column_List" >
   PRODUCTNUMBER, PRODUCTNAME, CATEGORY, PRIVIDER, STOCKAMOUNT
  </sql>



  
  <select id="stockExportList" resultMap="BaseResultMap" parameterType="com.manager.entity.InfoStockEntity">
    select 
    <include refid="Base_Column_List" />
    from STOCK where 1=1
    <if test="productName !=null and  productName !=''">
    and PRODUCTNAME like '%${productName}%'
    </if>
     <if test="category !=null and  category !=''">
    and CATEGORY like '%${category}%'
    </if>
     <if test="privider !=null and privider !=''">
    and PRIVIDER like '%${privider}%'
    </if>
    
  </select>
  
</mapper>